
@media screen and (max-width:768px){
	 
	 
	 .header,.header1,.content,.content1,.content2,.work,.work1,.end,.end1,.footer,.footer1{
		width:768px;
	}
	.brand2{
		left:358px;
	}
	.brand a{
		left:364px;
	}
	.brand3 a{
		left:393px;
	}
	.brand4{
		left:380px;
	}
	.brand5{
		left:307px;
	}
	.brand6{
		left:292px;
	}
	.header-text1{
		left:179px;
	}
	.header-text2{
		left:219px;
	}
	.header-text3{
		left:316px;
	}
	.magic{
		left:273px;
	}
	.btn{
		left:154px;
	}
	.btn2{
		left:262px;
	}
	.content-text12{
		left:232px;
	}
	.content-text13{
		left:148px;
	}
	.content-text1{
		left:120px;
	}
	.content-text2{
		left:216px;
	}
	.content-text3{
		left:345px;
	}
	.content-text4{
		left:117px;
	}
	.content-text5{
		top:885px;
		left:228px;
	}
	.content2{
		position:relative;
	}
	.content-text6{
		position:absolute;
		top:0px;
	}
	.content-text9{
		position:absolute;
		top:23px;
		left:12px;
		right:558px;
	}
	.content-text7{
		position:absolute;
		top:0px;
		left:285px;
	}
	.content-text10{
		position:absolute;
		top:23px;
		left:285px;
		right:280px;
	}
	.content-text8{
		position:absolute;
		top:0px;
		left:545px;
	}
	.content-text11{
		position:absolute;
		top:23px;
		left:545px;
		right:45px;
	}
	.slider{
		width:768px;
	}
	.work1{
		position:relative;
	}
	.work-text1{
		padding-left:130px;
	}
	.work-text2{
		padding-left:265px;
	}
	.work-img3,.work-img6{
		display:none;
	}
	.work-img4{
		position:absolute;
		top:456px;
		left:0px;
	}
	.work-img5{
		position:absolute;
		top:456px;
		left:320px;
	}
	.end-icon a{
		left:320px;
	}
	.end-text1{
	left:170px;
	}
	#one{
	left:120px;
    }
	#two{
	left:350px;
    }
	#three{
	left:300px;
    }
	.foot1 a{
		left:215px;
	}
	.foot2 a{
		left:285px;
	}
	.foot3 a{
		left:355px;
	}
	.foot4 a{
		left:425px;
	}
	.foot-text1{
		left:195px;
	}
	.foot-text2{
		left:205px;
	}
	
}
@media screen  and (max-width:640px){
	 .header,.header1,.content,.content1,.content2,.work,.work1,.end,.end1,.footer,.footer1{
		width:640px;
	}
	.brand2{
		left:250px;
	}
	.brand a{
		left:255px;
	}
	.brand3 a{
		left:278px;
	}
	.brand4{
		left:265px;
	}
	.brand5{
		left:203px;
	}
	.brand6{
		left:185px;
	}
	.header-text1{
		left:68px;
	}
	.header-text2{
		left:105px;
	}
	.header-text3{
		left:205px;
	}
	.magic{
		left:162px;
	}
	.btn{
		left:95px;
	}
	.btn2{
		left:205px;
	}
	.content-text12{
		left:160px;
		font-size:18px;
	}
	.content-text13{
		left:90px;
		font-size:18px;
	}
	.content-text1{
		left:50px;
		font-size:18px;
	}
	.content-text2{
		left:150px;
		font-size:18px;
	}
	.content-text3{
		left:250px;
		font-size:18px;
	}
	.content-text4{
		left:50px;
		font-size:18px;
	}
	.content-text5{
		top:815px;
		left:147px;
	}
	.slider{
		width:640px;
	}
	.content{
		height:1090px;
	}
	.content1{
		height:950px;
	}
	.content-text6{
		position:absolute;
		top:0px;
	}
	.content-text9{
		position:absolute;
		top:23px;
		left:17px;
		right:442px;
	}
	.content-text7{
		position:absolute;
		top:0px;
		left:232px;
	}
	.content-text10{
		position:absolute;
		top:23px;
		left:232px;
		right:210px;
	}
	.content-text8{
		position:absolute;
		top:0px;
		left:445px;
	}
	.content-text11{
		position:absolute;
		top:23px;
		left:445px;
		right:32px;
	}
	.work-text1{
		padding-left:58px;
		font-size:30px;
	}
	.work-text2{
		padding-left:180px;
	}
	.work1{
		position:relative;
	}
	.work-img9{
		position:absolute;
		top:192px;
		left:330px;
	}
	.work-img7{
		position:absolute;
		top:192px;
		left:10px;
	}
	.end-icon a{
	    left:275px;
	}
	.end-text1{
	    left:110px;
	}
	#one{
	    left:55px;
    }
	#two{
	    left:305px;
    }
	#three{
	    left:242px;
    }
	.foot1 a{
		left:160px;
	}
	.foot2 a{
		left:230px;
	}
	.foot3 a{
		left:300px;
	}
	.foot4 a{
		left:370px;
	}
	.foot-text1{
		left:135px;
	}
	.foot-text2{
		left:145px;
	}
}
@media screen  and (max-width:480px){

    .header,.header1,.content,.content1,.content2,.work,.work1,.end,.end1,.footer,.footer1{
		width:480px;
	}
    .brand2{
		left:180px;
	}
	.brand a{
		left:185px;
	}
	.brand3 a{
		left:198px;
	}
	.brand4{
		left:185px;
	}
	.brand5{
		left:138px;
	}
	.brand6{
		left:115px;
	}
	.header-text1{
		left:47px;
		font-size:50px;
	}
	.header-text2{
		left:55px;
	}
	.header-text3{
		left:150px;
	}
	.magic{
		left:100px;
	}
	.btn{
		left:57px;
	}
	.btn2{
		left:160px;
	}
	.content-text12{
		left:125px;
		font-size:14px;
	}
	.content-text13{
		left:43px;
		font-size:14px;
	}
	.content-text1{
		left:45px;
		font-size:13px;
	}
	.content-text2{
		left:125px;
		font-size:14px;
	}
	.content-text3{
		left:203px;
		font-size:14px;
	}
	.content-text4{
		left:40px;
		font-size:13px;
	}
	.content-text5{
		top:725px;
		left:98px;
		font-size:50px;
	}
	.slider{
		width:480px;
		height:276px;
	}
	.content{
		height:980px;
	}
	.content1{
		height:830px;
	}
	.content-text6{
		position:absolute;
		top:0px;
		left:35px;
	}
	.content-text9{
		position:absolute;
		top:23px;
		left:35px;
		right:283px;
	}
	.content-text7{
		position:absolute;
		top:0px;
		left:258px;
	}
	.content-text10{
		position:absolute;
		top:23px;
		left:258px;
		right:66px;
	}
	.content-text8,.content-text11{
		display:none;
	}
	.work-text1{
		padding-left:32px;
		font-size:25px;
	}
	.work-text2{
		padding-left:122px;
		font-size:16px;
	}
	.work1{
		position:relative;
	}
	.work-img5,.work-img2,.work-img9,.work-img11{
		display:none;
	}
	.work-img1{
		position:absolute;
		top:98px;
		left:72px;
	}
	.work-img7{
		position:absolute;
		top:178px;
		left:82px;
	}
	.work-img4{
		position:absolute;
		top:485px;
		left:72px;
	}
	.work-img10{
		position:absolute;
		top:500px;
		left:82px;
	}
	.end-icon a{
	    left:198px;
	}
	.end-text1{
		top:110px;
	    left:42px;
		font-size:17px;
	}
	#one{
	width:130px;
	height:39px;
	background:white;
	border:none;
	border-radius:5px;
	position:absolute;
	top:210px;
	left:80px;
    }
   #two{
	width:140px;
	height:39px;
	background:#83C0EF;
	border:none;
	border-radius:5px;
	position:absolute;
	top:210px;
	left:255px;
}
#three{
	background:#7B77C9;
	position:absolute;
	top:280px;
	left:189px;
}
    .foot1 a{
		left:100px;
	}
	.foot2 a{
		left:170px;
	}
	.foot3 a{
		left:240px;
	}
	.foot4 a{
		left:300px;
	}
	.foot-text1{
		top:145px;
		left:70px;
	}
	.foot-text2{
		top:175px;
		left:87px;
	}
}
@media screen  and (max-width:320px){

    .header{
		width:320px;
	}
	 .header1{
		width:320px;
	}
     .brand2{
		left:110px;
	}
	.brand a{
		left:115px;
	}
	.brand3 a{
		left:143px;
	}
	.brand4{
		left:130px;
	}
	.brand5{
		left:63px;
	}
	.brand6{
		left:43px;
	}
	.header-text1{
		left:36px;
		font-size:32px;
	}
	.header-text2{
		left:7px;
		font-size:11px;
	}
	.header-text3{
		left:85px;
		font-size:11px;
	}
	.magic{
		left:30px;
	}
	.btn{
		left:30px;
	}
	.btn2{
		left:135px;
	}
	.content-text12{
		left:67px;
		font-size:11px;
		top:340px;
	}
	.content-text13{
		left:13px;
		top:46px;
		right:30px;
		font-size:10px;
	}
	.content-text1{
		top:76px;
		right:122px;
		left:13px;
		font-size:10px;
		text-align:justify;
	}
	.content-text2{
		left:70px;
		font-size:11px;
	}
	.content-text3{
		left:135px;
		font-size:11px;
	}
	.content-text4{
		left:34px;
		font-size:10px;
		top:215px;
		right:113px;
		text-align:justify;
	}
	.content-text5{
		top:620px;
		left:55px;
		font-size:35px;
	}
	.content-text6{
		font-size:14px;
		top:0px;
		left:107px;
	}
	.content-text7,.content-text10{
		display:none;
	}
	.content-text9{
		font-size:10px;
		top:38px;
		left:100px;
		right:104px;
		text-align:justify;
	}
	.content{
		height:835px;
		width:320px;
	}
	.content1{
		height:685px;
		width:320px;
	}
	.content2{
		width:320px;
	}
	.slider{
		width:320px;
		height:195px;
	}
	.work-text1{
		padding-left:30px;
		font-size:15px;
	}
	.work-text2{
		padding-left:68px;
		font-size:13px;
	}
	.work1{
		position:relative;
	}
	.work-img5,.work-img2,.work-img9,.work-img11{
		display:none;
	}
	.work-img1{
		position:absolute;
		margin:0;
		top:115px;
		left:0px;
	}
	.work-img7{
		position:absolute;
		top:115px;
		left:10px;
	}
	.work-img4{
		position:absolute;
		margin:0;
		top:400px;
		left:0px;
	}
	.work-img10{
		position:absolute;
		top:400px;
		left:10px;
	}
	.work,.work1{
		width:320px;
		height:680px;
	}
	.end,.end1{
		width:320px;
	}
	.end-icon a{
	    left:130px;
	}
	.end-text1{
		top:120px;
	    left:38px;
		font-size:11px;
	}
	#one{
	width:110px;
	height:30px;
	background:white;
	border:none;
	border-radius:5px;
	position:absolute;
	top:200px;
	left:38px;
    }
   #two{
	width:110px;
	height:30px;
	background:#83C0EF;
	border:none;
	border-radius:5px;
	position:absolute;
	top:200px;
	left:166px;
    }
    #three{
	background:#7B77C9;
	position:absolute;
	height:39px;
	top:280px;
	left:108px;
    }
	.footer,.footer1{
		width:320px;
	}
	 .foot1 a{
		left:35px;
	}
	.foot2 a{
		left:100px;
	}
	.foot3 a{
		left:159px;
	}
	.foot4 a{
		left:220px;
	}
	.foot-text1{
		top:145px;
		left:35px;
		font-size:14px;
	}
	.foot-text2{
		top:175px;
		left:50px;
		font-size:14px;
	}

}





